<!-- fragments/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <div class="container">
        <a class="navbar-brand" href="/">Histology App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- User Position Display -->
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" th:if="${position != null}">
                    <span class="navbar-text text-light">
                        <i class="bi bi-person-badge"></i>
                        <span th:text="${position}"></span>
                    </span>
                </li>
            </ul>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin Dashboard</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <a class="nav-link" th:href="@{/admin/users/add}">
                        <i class="bi bi-person-plus"></i> Add User
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/register}">
                        <i class="bi bi-person-plus"></i> User Apply
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/jobs/admin/jobs/add}">
                        <i class="bi bi-plus-circle"></i> Add Job
                    </a>
                </li>
                <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <a class="nav-link" th:href="@{/admin/samples/add}">
                        <i class="bi bi-plus-circle"></i> Add Sample
                    </a>
                </li>
                <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <a class="nav-link" th:href="@{/jobs/admin/jobs}">
                        <i class="bi bi-briefcase"></i> Manage Jobs
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="piDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-badge"></i> PI
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="piDropdown">
                        <li><a class="dropdown-item" th:href="@{/pi/apply}">
                            <i class="bi bi-pencil-square"></i> Apply as PI
                        </a></li>
                        <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                            <a class="dropdown-item" th:href="@{/admin/pis}">
                                <i class="bi bi-people"></i> Manage PIs
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto" style="align-items: center;">
            </ul>
            <div id="navbar-auth" class="d-flex align-items-center ms-auto"></div>
        </div>
    </div>
</nav>
